.root {
  composes: section from global;
  padding: 130px 0 80px;
}

.container {
  grid-column: var(--large);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  max-width: 100%;
  overflow-x: hidden;
}

.content {
  text-align: center;
  margin-top: -60px;
}

.icon {
  max-width: 100%;
}

.icon svg {
  width: 100%;
}

.heading {
  font-size: var(--fsXL);
  font-weight: 600;
}

.text {
  max-width: 500px;
  font-size: var(--fsM);
  font-weight: 500;
}

.linkBack {
  display: inline-block;
  margin-top: 35px;
  font-size: var(--fsM);
  color: var(--gray400);
  font-weight: 600;
  padding: 5px 0;
  border-bottom: 2px solid var(--primary);
  transition: var(--tPrimary);
}

.linkBack:hover {
  color: var(--primary);
}

@media (min-with: 768px){
  .wrapper {
    margin-top: 40px;
  }
}

@media (min-with: 1440px){
  .wrapper {
    margin-top: 75px;
  } 
}