.fieldWrapper {
  height: 400px;
}

@media (min-width: 900px) {
  .fieldWrapper {
    height: 100%;
  }
}
.mapWrapper {
  height: calc(100% - 50px);
  position: relative;
}

.fieldTitle {
  margin-bottom: 14px;
}

.selectPostcode {
  position: absolute;
  z-index: 999;
  top: 20px;
  left: 20px;
}
